<html>
<head>
<title>hata</title>
</head>
<body>
        <div>
            <h1><a href="/">помогите(</a></h1>
        </div>

        <div>
            <p>published: 29.10.2018, 22:48</p>
            <h2><a href="">мне не хватает 8 бит</a></h2>
            <p>сижу на окт и сдвигаю, а оно не сдвигается</p>
        </div>

        <div>
            <p>published: 29.10.2018, 23:00</p>
            <h2><a href="">некита разумист</a></h2>
            <p>Эталон разумизма не был в понедельник. Спаткал и думал о том, как котик мыецца</p>
        </div>
</html>